<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwbXv56Ma42y6jVh7yzlsJLxFzwNYwHBw</string>
	<key>GCM_SENDER_ID</key>
	<string>408249445144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avRootApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>av-root-23</string>
	<key>STORAGE_BUCKET</key>
	<string>av-root-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408249445144:ios:60d205763a5e0964148c6d</string>
	<key>DATABASE_URL</key>
	<string>https://av-root-23-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>